.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 0 solid;
  border-right: 0 solid transparent;
  border-left: 0 solid transparent;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #b6b6b6;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  margin: 11.5px 0;
  background-color: #e5e5e5;
  height: 1px;
  margin: 4px 1px;
  overflow: hidden;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.81818181;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #4d5258;
  background-color: #d4edfa;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #0099d3;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 13px;
  line-height: 1.81818181;
  color: #999999;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 0 solid;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}
.caret {
  font-family: "FontAwesome";
  font-weight: normal;
  height: 11px;
  position: relative;
  vertical-align: baseline;
  width: 14px;
}
.caret:before {
  bottom: 0;
  content: "\f107";
  left: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: -1px;
  right: 0;
}
.dropdown-menu .divider {
  background-color: #e5e5e5;
  height: 1px;
  margin: 4px 1px;
  overflow: hidden;
}
.dropdown-menu > li > a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  padding: 1px 10px;
}
.dropdown-menu > li > a:hover {
  border-color: #b3d3e7;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  background-color: #0099d3;
  border-color: #0076b7;
  color: #ffffff !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #0099d3 !important;
  border-color: #0076b7 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  border-color: transparent;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  border-color: transparent;
}
.dropdown-header {
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
.btn-group > .dropdown-menu,
.input-group-btn > .dropdown-menu {
  margin-top: -1px;
}
.dropup .dropdown-menu {
  margin-bottom: -1px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover > a {
  background-color: #d4edfa;
  border-color: #b3d3e7;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu.pull-left {
  float: none !important;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: auto;
  margin-left: 10px;
  right: 100%;
}
.dropdown-submenu > a {
  padding-right: 20px !important;
}
.dropdown-submenu > a:after {
  content: "\f105";
  font-family: "FontAwesome";
  display: block;
  position: absolute;
  right: 10px;
  top: 2px;
}
.dropdown-submenu > .dropdown-menu {
  left: 100%;
  margin-top: 0;
  top: -6px;
}
.dropup .dropdown-submenu > .dropdown-menu {
  bottom: -5px;
  top: auto;
}
.open .dropdown-submenu.active > .dropdown-menu {
  display: block;
}
/* Bootstrap overrides */
/* PatternFly-specific */
/* Bootstrap overrides */
/* PatternFly-specific */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #b6b6b6;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.ui-autocomplete.pull-right {
  right: 0;
  left: auto;
}
.ui-autocomplete .divider {
  margin: 11.5px 0;
  background-color: #e5e5e5;
  height: 1px;
  margin: 4px 1px;
  overflow: hidden;
}
.ui-autocomplete > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.81818181;
  color: #333333;
  white-space: nowrap;
}
.ui-autocomplete .divider {
  background-color: #e5e5e5;
  height: 1px;
  margin: 4px 1px;
  overflow: hidden;
}
.ui-autocomplete > li > a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  padding: 1px 10px;
}
.ui-helper-hidden-accessible {
  display: none;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-focus {
  color: #4d5258;
  background-color: #d4edfa;
  text-decoration: none;
}
ul.ui-autocomplete-layout-table {
  display: table;
  position: relative;
  top: 0;
  left: 0;
}
ul.ui-autocomplete-layout-table > li.ui-menu-item {
  display: table-row-group;
}
ul.ui-autocomplete-layout-table > li.ui-menu-item > a {
  display: table-row;
}
ul.ui-autocomplete-layout-table > li.ui-menu-item > a > span {
  display: table-cell;
  padding: 3px 0.5em;
}
ul.ui-autocomplete-layout-table > li.ui-menu-item > a > span:first-child {
  padding-left: 15px;
}
ul.ui-autocomplete-layout-table > li.ui-menu-item > a > span:last-child {
  padding-right: 15px;
}
.ui-autocomplete-layout-table-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
