target
test-output
.classpath
.settings
.project
.clover
.externalToolBuilders
.idea
*.iml
MANIFEST.MF
rebel.xml
*faces-config.xml.jsfdia
bower_components
node_modules
.checkstyle
overlays
nb*.xml

.factorypath
.checkstyle

# Selenium 
log.txt
chromedriver.log
phantomjsdriver.log
arquillian.xml
/components/a4j/lib/
/components/rich/lib/
/core/lib/