/* Bootstrap overrides */
/* PatternFly-specific */
/* Bootstrap overrides */
/* PatternFly-specific */
.ordering-list {
  margin-bottom: 1.81818181;
  display: block;
  outline: none;
}
.ordering-list .header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 12.5px;
}
.ordering-list .helper li:first-child {
  margin-top: 0px;
}
.ordering-list .helper li:last-child {
  margin-bottom: 0px;
}
.ordering-list table.list tr * {
  height: inherit;
}
.ordering-list table.list {
  table-layout: fixed;
}
