.pick-list {
  margin-bottom: 1.428571429;
  display: block;
  padding-left: 0;
  padding-right: 0;
  outline: none;
}
.pick-list .inner {
  margin-left: -15px;
  margin-right: -15px;
}
.pick-list .inner:before,
.pick-list .inner:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.pick-list .inner:after {
  clear: both;
}
.pick-list .header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.pick-list .source-wrapper {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .pick-list .source-wrapper {
    float: left;
    width: 41.66666666666667%;
  }
}
.pick-list .target-wrapper {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .pick-list .target-wrapper {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .pick-list .ordering-list .header {
    display: none;
  }
}
@media (max-width: 767px) {
  .pick-list .target-wrapper .header {
    padding-top: 35px;
  }
}
.pick-list .header-row {
  margin-left: -15px;
  margin-right: -15px;
}
.pick-list .header-row:before,
.pick-list .header-row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.pick-list .header-row:after {
  clear: both;
}
.pick-list .header-row .header {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.pick-list .sub-header-row {
  margin-left: -15px;
  margin-right: -15px;
}
.pick-list .sub-header-row:before,
.pick-list .sub-header-row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.pick-list .sub-header-row:after {
  clear: both;
}
.pick-list .sub-header-row .source {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .pick-list .sub-header-row .source {
    float: left;
    width: 41.66666666666667%;
  }
}
.pick-list .sub-header-row .target {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .pick-list .sub-header-row .target {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .pick-list .sub-header-row .target {
    margin-left: 8.333333333333332%;
  }
}
@media (max-width: 767px) {
  .pick-list .sub-header-row {
    display: none;
  }
}
.pick-list .pick-button-column {
  text-align: center;
  z-index: 1;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .pick-list .pick-button-column {
    float: left;
    width: 8.333333333333332%;
  }
}
@media (min-width: 768px) {
  .pick-list .pick-button-column {
    height: 9.6em;
    line-height: 9.6em;
  }
}
.pick-list .btn-group-picklist > .btn {
  border-radius: 0;
  padding: 0;
  text-align: center;
}
.pick-list .btn-group-picklist .labeled {
  text-align: left;
  padding-left: 0.5em;
}
.pick-list .btn-group-picklist .labeled span {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media (min-width: 768px) {
  .pick-list .btn-group-picklist {
    min-width: 2.3em;
    display: inline-block;
    vertical-align: middle;
  }
  .pick-list .btn-group-picklist > .btn {
    height: 2.3em;
  }
  .pick-list .btn-group-picklist > .btn:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .pick-list .btn-group-picklist > .btn:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .pick-list .btn-group-picklist .richicon-left-all:before {
    content: "\f100";
  }
  .pick-list .btn-group-picklist .richicon-left:before {
    content: "\f104";
  }
  .pick-list .btn-group-picklist .richicon-right:before {
    content: "\f105";
  }
  .pick-list .btn-group-picklist .richicon-right-all:before {
    content: "\f101";
  }
}
@media (max-width: 767px) {
  .pick-list .btn-group-picklist {
    max-width: none;
  }
  .pick-list .btn-group-picklist > .btn {
    height: 3em;
    max-width: none;
  }
  .pick-list .btn-group-picklist > .btn:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .pick-list .btn-group-picklist > .btn:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  .pick-list .btn-group-picklist .richicon-left-all:before {
    content: "\f102";
  }
  .pick-list .btn-group-picklist .richicon-left:before {
    content: "\f106";
  }
  .pick-list .btn-group-picklist .richicon-right:before {
    content: "\f107";
  }
  .pick-list .btn-group-picklist .richicon-right-all:before {
    content: "\f103";
  }
}
.pick-list .btn-add-all,
.pick-list .btn-add,
.pick-list .btn-remove,
.pick-list .btn-remove-all {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .pick-list .btn-add-all,
  .pick-list .btn-add,
  .pick-list .btn-remove,
  .pick-list .btn-remove-all {
    float: left;
    width: 100%;
  }
}
