/* Bootstrap overrides */
/* PatternFly-specific */
/* Bootstrap overrides */
/* PatternFly-specific */
.select-list {
  margin: 0;
  /* w/ handle styles */
  /* ol list */
  /* table  list */
  /* vertical button group  */
}
.select-list .content {
  display: table;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
}
.select-list .scroll-box {
  overflow: auto;
  overflow-x: hidden;
  min-height: 9.6em;
}
.select-list .list .helper {
  min-height: 0px;
  margin: 0;
  padding: 0;
}
.select-list .button-column {
  vertical-align: middle;
  display: table-cell;
  width: 24px;
  padding-left: 2px;
}
.select-list .ui-selectee {
  cursor: pointer;
  color: #333333;
  line-height: 3em;
}
@media (min-width: 768px) {
  .select-list .ui-selectee {
    line-height: 2.3em;
  }
}
.select-list .ui-disabled {
  cursor: default;
  line-height: 3em;
}
@media (min-width: 768px) {
  .select-list .ui-disabled {
    line-height: 2.3em;
  }
}
.select-list .ui-selectee:hover {
  background-color: #eeeeee;
  color: #333333;
}
.select-list .ui-selecting {
  background: #21c2ff;
}
.select-list .ui-selected {
  background-color: #0099d3;
  color: #ffffff;
}
.select-list .ui-selected:hover,
.select-list .helper-item {
  background: #006286;
  color: #ffffff;
}
.select-list .placeholder {
  height: 3em;
}
@media (min-width: 768px) {
  .select-list .placeholder {
    height: 2.3em;
  }
}
.select-list .first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.select-list .handle {
  padding: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  line-height: 3em;
  width: 3em;
  cursor: move;
  text-align: center;
}
.select-list .handle i {
  vertical-align: baseline;
}
@media (min-width: 768px) {
  .select-list .handle {
    line-height: 2.3em;
    width: 2.3em;
  }
}
.select-list .disabled .handle {
  cursor: default;
  color: #999999;
}
.select-list .handle:hover {
  background: #eeeeee;
}
.select-list .ui-selectee:hover .handle {
  background-color: #eeeeee;
  color: #333333;
}
.select-list .ui-selecting .handle {
  background: #21c2ff;
}
.select-list .ui-selected .handle {
  background-color: #0099d3;
  color: #ffffff;
}
.select-list .ui-selected:hover .handle,
.select-list .helper-item .handle {
  background: #006286;
  color: #ffffff;
}
.select-list .with-handle li {
  padding-left: 0;
}
.select-list li .handle {
  float: left;
}
.select-list ol.list,
.select-list ol.helper {
  padding-left: 0;
  margin: 0;
  list-style: none;
  min-height: inherit;
}
.select-list li {
  display: block;
  border-radius: 5px;
  margin: 2px 0;
  padding-left: 7px;
}
.select-list table {
  width: 100%;
}
.select-list table thead {
  text-align: left;
}
.select-list table tr.ui-selectee {
  border-bottom: #ffffff solid 2px;
}
.select-list th {
  line-height: 3em;
}
@media (min-width: 768px) {
  .select-list th {
    line-height: 2.3em;
  }
}
.select-list td,
.select-list th {
  padding-left: 0.5em;
}
.select-list .ui-selectee:hover td {
  background-color: #eeeeee;
  color: #333333;
}
.select-list .ui-selecting td {
  background: #21c2ff;
}
.select-list .ui-selected td {
  background-color: #0099d3;
  color: #ffffff;
}
.select-list .ui-selected:hover td {
  background: #006286;
  color: #ffffff;
}
.select-list .helper-item td {
  background: #006286;
  color: #ffffff;
}
.select-list tr.helper-item {
  border-radius: 5px;
}
.select-list td.last,
.select-list th.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.select-list .btn-group-vertical {
  display: flex;
  flex-direction: column;
}
.select-list .btn-group-vertical .btn {
  width: auto;
  padding: 0;
  text-align: center;
  min-width: 3em;
  height: 3em;
}
@media (min-width: 768px) {
  .select-list .btn-group-vertical .btn {
    min-width: 2.3em;
    height: 2.3em;
  }
}
.select-list .btn-group-vertical .labeled {
  text-align: left;
  padding-left: 0.5em;
}
.select-list .btn-group-vertical .labeled span {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.select-list .btn-group-vertical .richicon-first:before {
  content: "\f102";
}
.select-list .btn-group-vertical .richicon-up:before {
  content: "\f106";
}
.select-list .btn-group-vertical .richicon-down:before {
  content: "\f107";
}
.select-list .btn-group-vertical .richicon-last:before {
  content: "\f103";
}
