@import url("html-common.css");

div#overlay{
	background-image:url(../images/community/bkg_gradient.gif);
	background-repeat:repeat-x;
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
}
