/*
 * JBoss, Home of Professional Open Source
 * Copyright 2011, Red Hat, Inc. and individual contributors
 * by the @authors tag. See the copyright.txt in the distribution for a
 * full listing of individual contributors.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */

/* author Wesley Hales | whales@redhat.com */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 80% / 1.5em "Helvetica", "Lucida Sans", Verdana, Arial, sans-serif;
}

a {
    text-decoration: none;
}

/*************************************************
Mobile Device Page Setup
*************************************************/

#browser {
    /*background: #000 -moz-linear-gradient(top, #0e0e0e, #313131);*/
    /*background: #000 -webkit-gradient(linear, left top, left bottom, from(#0e0e0e), to(#313131));*/
    position: relative;
    width: 100%;
    height: 100%;

}

#page-container {
    position:absolute;
    top: 44px;
    width:100%;
    height: 100%;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    /*activate the GPU for compositing each page */
    -webkit-transform: translate3d(0, 0, 0);
}

/*************************************************
UX Utils
*************************************************/

.stage-center {
    top: 0;
    left: 0;
    /*opacity: 100;*/
}

.none {
    display: none
}

.hide {
    opacity: 0;
}

.show {
    opacity: 100;
}

.transition {
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

/*************************************************
Flip Transition
*************************************************/

#back,
#front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition-duration: .5s;
    -webkit-transform-style: preserve-3d;
}

.normal {
    -webkit-transform: rotateY(0deg);
}

.flipped {
    -webkit-user-select: element;
    -webkit-transform: rotateY(180deg);
}

/*************************************************
Device Specific Styles
*************************************************/

/* iOS/android phone landscape screen width*/
@media screen and (max-device-width: 480px) and (orientation:landscape) {
    .stage-left {
        left: -480px;
    }

    .stage-right {
        left: 480px;
    }

    .page {
        width: 480px;
    }

}

/* iOS/android phone portrait screen width*/
@media screen and (max-device-width: 320px) and (orientation:portrait) {
    .stage-left {
        left: -320px;
    }

    .stage-right {
        left: 320px;
    }

    .page {
        width: 320px;
    }
}

/*catch all for at or larger than handheld landscape device widths*/
@media screen and (min-device-width: 481px) {
    .stage-left {
        left: -1024px;
    }

    .stage-right {
        left: 1024px;
    }

    .page {

    }
}

/*************************************************
Page Formatting - Skin
*************************************************/

div#browser > header > div {
   position: relative;
   height: 44px;
   width: auto;
   font-weight: bold;
   color: #fff;
   text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
   text-align: center;
   line-height: 47px;
   background: #1d2f3d -moz-linear-gradient(90deg, #1d2f3d 33%, #375c79 123%);
   background: #1d2f3d -webkit-gradient(linear, left top, left bottom, from(#375c79), to(#1d2f3d));
   border: none;
}

body > header > div img.logo {
    margin: 0 auto;
}

 .rf-pm-top-gr-sel, .rf-pm-top-gr-gr, .rf-pm-hdr-colps {
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;

}

 .nav-list {
   width: 95%;
   border:  1px solid #777;
   margin: 0 auto 0 auto;
    padding:  5px;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;

}

/*************************************************
RichFaces panelMenu styles overwriting
*************************************************/

nav .rf-pm {
    /*border: 1px solid #B0BDC5;*/
    border-bottom: 0;
}

nav .rf-pm-top-gr {
    border: 0;
    border-bottom: 1px solid #969b9e;
    margin: 0;
    padding: 0;
}

nav .rf-pm-top-gr-hdr {
    background: #c6cacc url(#{facesContext.externalContext.requestContextPath}/images/pmenu_bg.png) left top repeat-x;
    padding: 3px 1px 2px 3px;
}

nav .rf-pm .rf-pm-top-gr-hdr:hover {
    background: #c6cacc url(#{facesContext.externalContext.requestContextPath}/images/pmenu_bg.png) left top repeat-x;
}

nav .rf-pm .rf-pm-top-gr-ico {
    display: none;
}

nav .rf-pm .rf-pm-top-gr-lbl {
    color: #273945;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
    margin-left: 4px;
}

nav .rf-pm .rf-pm-top-gr-lbl:hover {
    color: #5a8eba;
}

nav .rf-pm-exp {
    background: #ffffff;
}

nav .rf-pm-exp .rf-pm-itm {
    border: 0;
    border-bottom: 1px solid #dddddd;
}

nav .rf-pm-exp .rf-pm-itm:hover {
    background: none;
}

nav .rf-pm-exp .rf-pm-itm-lbl:hover {
    color: #5f9cd0;
}

nav .rf-pm-exp .rf-pm-itm-sel,nav .rf-pm-exp .rf-pm-itm-sel:hover { /*background:#e3e8ef;*/

}

nav .rf-pm-exp .rf-pm-itm-lbl {
    color: #305f7b;
    font: normal 11px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

nav .rf-pm-exp .rf-pm-itm-sel .rf-pm-itm-lbl {
    color: #5f9cd0;
    font-weight: bold;
}

nav .rf-pm-exp .rf-pm-itm-ico {
    padding: 0 !important;
    width: 5px;
}

/*************************************************
<<<<<<< HEAD
RichFaces tabPanel styles overwriting
=======
RichFaces tablePanel styles overwriting
>>>>>>> 70289ed91e54d5469c419e5a210e8cf6152240d3
*************************************************/
nav .rf-tab-hdr-tabline-vis {
    background: #ebf6fd;
    border: 0;
    height: 31px;
    padding: 0;
}

nav .rf-tab-hdr {
    border: 1px solid #dddddd;
    padding: 6px 10px 0;
    margin-right: 3px;
}

nav .rf-tab-hdr-act {
    background: #ffffff;
    border-bottom: 0;
    color: #5F9CD0;
}

nav .rf-tab-hdr-act .rf-tab-lbl {
    font-weight: bold;
}

nav .rf-tab-hdr-inact {
    background: #c6cacc url(#{facesContext.externalContext.requestContextPath}/images/pmenu_bg.png) left top repeat-x;
    border: 1px solid #bec3c7;
}

nav .rf-tab-hdr-spcr {
    border-bottom: 1px solid #dddddd;
    padding: 0 3px 0 0;
}

nav .rf-tab-lbl {
    font: normal 12px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

textarea[disabled],input[type="text"][disabled],input[type="password"][disabled],select[disabled] {
    -webkit-text-fill-color: #B6AD84;
}