/*----------------------------mobile page structure*/

#browser {
    background: #000 -moz-linear-gradient(top, #0e0e0e, #313131);
    background: #000 -webkit-gradient(linear, left top, left bottom, from(#0e0e0e), to(#313131));
    position: relative;
    width: 100%;
    height: 1000px;
    overflow-x: hidden;
    overflow-y: auto;
}

#page-container {

}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    /*activate the GPU for compositing each page */
    -webkit-transform: translate3d(0, 0, 0);
}

/*----------------------------pages*/

#category-list-page {

}

#component-page {

}
/*----------------------------utils */

.stage-center {
    top: 0;
    left: 0;
    /*opacity: 100;*/
}

.none {
    display: none
}

.hide {
    opacity: 0;
}

.show {
    opacity: 100;
}

.transition {
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

/*----------------------------flip transition */
#back,
#front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition-duration: .5s;
    -webkit-transform-style: preserve-3d;
}

.normal {
    -webkit-transform: rotateY(0deg);
}

.flipped {
    -webkit-user-select: element;
    -webkit-transform: rotateY(180deg);
}

/*----------------------------device specific styles*/

/* iOS/android phone landscape screen width*/
@media screen and (max-device-width: 480px) and (orientation:landscape) {
    .stage-left {
        left: -480px;
    }

    .stage-right {
        left: 480px;
    }

    .page {
        width: 480px;
    }

}

/* iOS/android phone portrait screen width*/
@media screen and (max-device-width: 320px) and (orientation:portrait) {
    .stage-left {
        left: -320px;
    }

    .stage-right {
        left: 320px;
    }

    .page {
        width: 320px;
    }
}

/*catch all for at or larger than handheld landscape device widths*/
@media screen and (min-device-width: 481px) {
    .stage-left {
        left: -1024px;
    }

    .stage-right {
        left: 1024px;
    }

    .page {

    }
}
