<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="seleniumTestDANe" thread-count="1">
    <!-- test name="IEFunctionalTests">
      <parameter name="browser" value="*iexplore"/>
    </test-->
    <test name="FireFoxFunctionalTestsDANe1">
        <parameter name="browser" value="*firefox"/>
        <classes>
            <class name="org.richfaces.photoalbum.testng.AddUseCasesTest"/>
            <class name="org.richfaces.photoalbum.testng.DeleteUseCasesTest"/>
            <class name="org.richfaces.photoalbum.testng.DnDUseCasesTest"/>
            <class name="org.richfaces.photoalbum.testng.EditUseCasesTest"/>
            <class name="org.richfaces.photoalbum.testng.ImageResizerTest"/>
            <class name="org.richfaces.photoalbum.testng.LoginTest"/>
            <class name="org.richfaces.photoalbum.testng.OpenAreasUseCasesTest"/>
            <class name="org.richfaces.photoalbum.testng.ScrollerUseCasesTest"/>
            <class name="org.richfaces.photoalbum.testng.SearchTest"/>
        </classes>
    </test>
</suite>

        <!--suite thread-count="1" verbose="0" name="seleniumTestDANe" annotations="JDK">
       <test name="FireFoxFunctionalTestsDANe1" junit="false">
         <parameter name="browser" value="*firefox"/>
         <classes>
           <class name="org.richfaces.photoalbum.testng.AddUseCasesTest"/>
           <class name="org.richfaces.photoalbum.testng.DeleteUseCasesTest"/>
           <class name="org.richfaces.photoalbum.testng.DnDUseCasesTest"/>
           <class name="org.richfaces.photoalbum.testng.EditUseCasesTest"/>
           <class name="org.richfaces.photoalbum.testng.ImageResizerTest"/>
           <class name="org.richfaces.photoalbum.testng.LoginTest"/>
           <class name="org.richfaces.photoalbum.testng.OpenAreasUseCasesTest"/>
           <class name="org.richfaces.photoalbum.testng.ScrollerUseCasesTest"/>
           <class name="org.richfaces.photoalbum.testng.SearchTest"/>
         </classes>
       </test>
     </suite>

     <!- -DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
     <suite name="seleniumTestDANe">
         <test name="IEFunctionalTests">
             <parameter name="browser" value="*iexplore"/>
           </test>
         <test name="FireFoxFunctionalTestsDANe1">
             <parameter name="browser" value="*firefox"/>
             <packages>
                 <package name="org.richfaces.photoalbum.testng" />
                     <include name="AddUseCasesTest" />
                     <include name="DeleteUseCasesTest" />
                     <include name="EditUseCasesTest" />
                     <include name="ImageResizerTest" />
                     <include name="LoginTest" />
                     <include name="OpenAreasUseCasesTest" />
                     <include name="SearchTest" />
                     <include name="ScrollerUseCasesTest" />
                     <include name="DnDUseCasesTest" />
                 </package>
             </packages>
         </test>
         <test name="FireFoxFunctionalTestsDANe2">
             <parameter name="browser" value="*firefox"/>
             <classes>
                 <class name="org.richfaces.photoalbum.testng.DnDUseCasesTest"/>
             </classes>
         </test>
         <test name="FireFoxFunctionalTestsDANe3">
             <parameter name="browser" value="*firefox"/>
             <packages>
                 <package name="org.richfaces.photoalbum.testng">
                     <exclude name="SearchTest"></exclude>
                     <exclude name="DnDUseCasesTest"></exclude>
                     <exclude name="ScrollerUseCasesTest"></exclude>
                 </package>
             </packages>
         </test>
     </suite>   -->
